@model MyTTNN.TrungTamNgoaiNgu.NhanViens

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/NhanVien/Views/Shared/_NhanVienLayout.cshtml";
}



<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Nhân Viên</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "NhanViens")">Nhân viên</a></li>
                    <li class="active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header row">
                        <div class="col-md-6">
                            <h2><strong class="card-title">Cập nhật</strong></h2>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Index", "NhanViens")" class="btn btn-default">Trở về</a>
                        </div>
                    </div>

                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>NhanVien</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.MaNv)

                                

                                <div class="form-group">
                                    <lable>Họ</lable>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Ho, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ho, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <lable>Tên</lable>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                   <lable>Email</lable>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <lable>Số điện thoại</lable>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <lable>Phòng ban</lable>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.PhongBanID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhongBanID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>chức Vụ</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ChucVuID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ChucVuID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>hình</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Hinh, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Hinh, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group text-right">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Cập nhật" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>


        </div>

    </div><!-- .content -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
