@model IEnumerable<MyTTNN.TrungTamNgoaiNgu.PhongBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhanVien/Views/Shared/_NhanVienLayout.cshtml";
}


<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Phòng Ban</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">phòng ban</a></li>
                    <li class="active">Trang chủ</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header row">
                        <div class="col-md-6">
                            <h2><strong class="card-title">Trng chủ</strong></h2>
                        </div>
                        <div class="col-md-6 text-right">
                            @*<a class="btn btn-success" data-toggle="modal" data-target="#ModalCreateUpdate">
                                    <i class="fa fa-plus" aria-hidden="true"> Thêm mới</i>
                                </a>*@
                            <a href="@Url.Action("Create", "PhongBans")" class="btn btn-success">
                                <i class="fa fa-plus" aria-hidden="true"> Thêm mới</i>
                            </a>
                            <a href="@Url.Action("Trash", "PhongBans")" class="btn btn-danger"><i class=" fa fa-trash-o"></i></a>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        <strong><label>Tên phòng ban</label></strong>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.TrangThai == 1)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaPb)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenPhonSg)
                                            </td>
                                            
                                            <td>
                                                <a href="@Url.Action("Status", "PhongBans", new { @id = item.MaPb })" class="btn btn-danger">
                                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                                </a>&nbsp;
                                                <a class="btn btn-warning" href="@Url.Action("Edit", "PhongBans", new { id = item.MaPb })">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>&nbsp;
                                                <a class="btn btn-info" href="@Url.Action("Details", "PhongBans", new { id = item.MaPb })">
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </a>&nbsp;
                                                <a class="btn btn-danger" href="@Url.Action("DelTrash", "PhongBans", new { id = item.MaPb })">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->


    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header row">
                        <h3><strong class="card-title">Tạm thời ngưng hoạt động</strong></h3>
                        <a actio><i class="fa fa-add"></i></a>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        <strong><label>Tên phòng ban</label></strong>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @foreach (var item in Model)
                                {

                                    if (item.TrangThai == 2)
                                    {
                                        
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaPb)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenPhonSg)
                                            </td>
                                            <td>

                                                <a href="@Url.Action("Status", "PhongBans", new {@id = item.MaPb})" class="btn btn-danger">
                                                    <i class="fa fa-toggle-on" aria-hidden="true"></i>
                                                </a>

                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->


</div><!-- .content -->


